@import '../app.component.scss';

po-menu{

    po-button{
        margin: 5px;
        margin-top: 20px;
        color: black;
        width: 150px;

        &:hover{
            transition: 2s;
            background-color: black;
        }

    }

    display: flex;
    text-align: center;

    img{
        height: 100px;
    }

    a{
        border: none;
    }

}