<po-menu>
  <ng-template p-menu-header-template>
    <img id="logoTotvs" [src]="menuImage" alt="Logo TOTVS">
    <mat-grid-list cols="1" rowHeight="3.5:1">
      <mat-grid-tile><po-button class="button" p-label="Home" (p-click)="onClick()" p-size="large"
          p-icon="po-icon po-icon-home" p-kind="secondary"> </po-button></mat-grid-tile>
      <mat-grid-tile><po-button class="button" p-label="Sign-in" (p-click)="onClick()" p-size="large"
          p-icon="po-icon po-icon-home" p-kind="secondary"> </po-button></mat-grid-tile>
    </mat-grid-list>
  </ng-template>
</po-menu>